In [298]:
import scipy.io as sio
import pandas as pd
import numpy as np

# Load Matlab file into Python

In [299]:
data = sio.loadmat("Oxford_Battery_Degradation_Dataset_1.mat")

## Create Utility functions

In [300]:
def flatten(data):
    if len(data) <= 1:
       return flatten(data.flatten()[0]) 
    else:
        return data

In [301]:
def get_data(data):
    data = flatten(data)
    if "t" in data.dtype.names:
        t = data[0].flatten()
        v = data[1].flatten()
        q = data[2].flatten()
        T = data[3].flatten()
        temp_df = pd.DataFrame({
                'time_s': t,
                'voltage_V': v,
                'charge_mAh': q,
                'temperature_C': T
        })
        return temp_df
    elif 'C1ch' in data.dtype.names:
        dfs = []
        for i,k in enumerate(data.dtype.names):
            res = get_data(data[i])
            res["Mode"] = k
            dfs.append(res)
        return pd.concat(dfs)
    
    elif 'cyc0000' in data.dtype.names:
        dfs = []
        for i,k in enumerate(data.dtype.names):
            res = get_data(data[i])
            res["Cycle"] = k
            dfs.append(res)
        return pd.concat(dfs)
    else:
        print("failing")

## Create DataFrame

In [308]:
data_lst = []
keys = [key for key in data if key.startswith('Cell')]
for key in keys:
    res = get_data(data[key])
    res["Cell"] = key
    data_lst.append(res)
data_df = pd.concat(data_lst)

In [310]:
data_df

,time_s,voltage_V,charge_mAh,temperature_C,Mode,Cycle,Cell
0,735954.858966,2.719213,-0.000049,41.295536,C1ch,cyc0000,Cell1
1,735954.858977,2.856135,0.206339,41.000046,C1ch,cyc0000,Cell1
2,735954.858989,2.877108,0.412724,40.962608,C1ch,cyc0000,Cell1
3,735954.859000,2.892908,0.619110,40.987579,C1ch,cyc0000,Cell1
4,735954.859012,2.906382,0.825497,41.049992,C1ch,cyc0000,Cell1
...,...,...,...,...,...,...,...
10253,736594.460308,2.712320,-569.170029,39.856884,OCVdc,cyc8100,Cell8
10254,736594.460365,2.708672,-569.225542,39.819447,OCVdc,cyc8100,Cell8
10255,736594.460423,2.704863,-569.281054,39.856884,OCVdc,cyc8100,Cell8
10256,736594.460481,2.701214,-569.336567,39.856884,OCVdc,cyc8100,Cell8
10257,736594.460498,2.699971,-569.352707,39.881855,OCVdc,cyc8100,Cell8