## Install python dependencies

In [1]:
pip install -r requirements.txt

Requirement already satisfied: redis==6.2.0 in ./.venv/lib/python3.9/site-packages (from -r requirements.txt (line 1)) (6.2.0)
Requirement already satisfied: psycopg[binary]==3.2.9 in ./.venv/lib/python3.9/site-packages (from -r requirements.txt (line 2)) (3.2.9)
Requirement already satisfied: pandas==2.3.0 in ./.venv/lib/python3.9/site-packages (from -r requirements.txt (line 3)) (2.3.0)
Requirement already satisfied: pymongo==4.13.2 in ./.venv/lib/python3.9/site-packages (from -r requirements.txt (line 4)) (4.13.2)
Requirement already satisfied: pyspark[connect]==4.0.0 in ./.venv/lib/python3.9/site-packages (from -r requirements.txt (line 5)) (4.0.0)
Requirement already satisfied: async-timeout>=4.0.3 in ./.venv/lib/python3.9/site-packages (from redis==6.2.0->-r requirements.txt (line 1)) (5.0.1)
Requirement already satisfied: typing-extensions>=4.6 in ./.venv/lib/python3.9/site-packages (from psycopg[binary]==3.2.9->-r requirements.txt (line 2)) (4.14.0)
Requirement already satisfied: psycopg-binary==3.2.9 in ./.venv/lib/python3.9/site-packages (from psycopg[binary]==3.2.9->-r requirements.txt (line 2)) (3.2.9)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.9/site-packages (from pandas==2.3.0->-r requirements.txt (line 3)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.9/site-packages (from pandas==2.3.0->-r requirements.txt (line 3)) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.9/site-packages (from pandas==2.3.0->-r requirements.txt (line 3)) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in ./.venv/lib/python3.9/site-packages (from pandas==2.3.0->-r requirements.txt (line 3)) (2.0.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in ./.venv/lib/python3.9/site-packages (from pymongo==4.13.2->-r requirements.txt (line 4)) (2.7.0)
Requirement already satisfied: py4j==0.10.9.9 in ./.venv/lib/python3.9/site-packages (from pyspark[connect]==4.0.0->-r requirements.txt (line 5)) (0.10.9.9)
Requirement already satisfied: pyarrow>=11.0.0 in ./.venv/lib/python3.9/site-packages (from pyspark[connect]==4.0.0->-r requirements.txt (line 5)) (20.0.0)
Requirement already satisfied: grpcio>=1.67.0 in ./.venv/lib/python3.9/site-packages (from pyspark[connect]==4.0.0->-r requirements.txt (line 5)) (1.73.1)
Requirement already satisfied: grpcio-status>=1.67.0 in ./.venv/lib/python3.9/site-packages (from pyspark[connect]==4.0.0->-r requirements.txt (line 5)) (1.73.1)
Requirement already satisfied: googleapis-common-protos>=1.65.0 in ./.venv/lib/python3.9/site-packages (from pyspark[connect]==4.0.0->-r requirements.txt (line 5)) (1.70.0)
Requirement already satisfied: protobuf!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.20.2 in ./.venv/lib/python3.9/site-packages (from googleapis-common-protos>=1.65.0->pyspark[connect]==4.0.0->-r requirements.txt (line 5)) (6.31.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas==2.3.0->-r requirements.txt (line 3)) (1.17.0)
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Users/faustin/Desktop/learning/curious-minds/ep1/.venv/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

# Redis

In [2]:
import redis 
import json
# create redis instance
r = redis.Redis(host='localhost', port=6379, db=0, decode_responses=True)

In [3]:
user = {"name": "Faustin", "age": 30, "language": "Python"}
#  Save data to redis
r.set("user:101", json.dumps(user))

# retrieve data
data = json.loads(r.get("user:101"))
print(data)

# set other value
r.set("09932", "Hello world")
data = r.get("09932")
print(data)

# save a list
r.delete("mylist")
r.rpush('mylist', *[1,23,4])
data = r.lrange("mylist", 0,-1)
print(data)
# learn more at: https://pypi.org/project/redis/

{'name': 'Faustin', 'age': 30, 'language': 'Python'}
Hello world
['1', '23', '4']

# Postgres

In [4]:
# Connection parameters
conn_params = {
    "dbname": "mydatabase",
    "user": "myuser",
    "password": "mypassword",
    "host": "localhost",  # use "postgres" if running inside Docker
    "port": 5432
}

In [5]:
import psycopg
import pandas as pd

# Define all uses
users_to_insert = [
    ("User1", 20),
    ("User2", 21),
    ("User3", 22),
    ("User4", 23),
    ("User5", 24),
    ("User6", 25),
    ("User7", 26),
    ("User8", 27),
    ("User9", 28),
    ("User10", 29),
]




with psycopg.connect(**conn_params) as conn:
    with conn.cursor() as cur:
        cur.execute("""
            CREATE TABLE IF NOT EXISTS users (
                id SERIAL PRIMARY KEY,
                name TEXT,
                age INTEGER
            )
        """)
        
        # Insert multiple rows at once
        cur.executemany(
            "INSERT INTO users (name, age) VALUES (%s, %s)",
            users_to_insert
        )

In [6]:
import psycopg
import pandas as pd

#  Fetch users as pandas dataframe
with psycopg.connect(**conn_params) as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM users")
        rows = cur.fetchall()               # list of tuples
        colnames = [desc[0] for desc in cur.description]  # get column names

# Create DataFrame from rows + column names
df = pd.DataFrame(rows, columns=colnames)
df

   id    name  age
0   1   User1   20
1   2   User2   21
2   3   User3   22
3   4   User4   23
4   5   User5   24
5   6   User6   25
6   7   User7   26
7   8   User8   27
8   9   User9   28
9  10  User10   29

# MongoDB

## Create connection

In [7]:
from pymongo import MongoClient
import random
import string

# MongoDB connection details
mongo_user = "mongoadmin"
mongo_password = "secretpassword"
mongo_host = "localhost"  # or "mongo" if inside Docker Compose
mongo_port = 27017

uri = f"mongodb://{mongo_user}:{mongo_password}@{mongo_host}:{mongo_port}/"
client = MongoClient(uri)

db = client.mydatabase
collection = db.users

In [8]:
# Function to generate random name
def random_name(length=6):
    return ''.join(random.choices(string.ascii_letters, k=length))

# Generate 10 random user documents
users = []
for _ in range(10):
    user = {
        "name": random_name(),
        "age": random.randint(18, 60)
    }
    users.append(user)
print(users)
# Insert users into MongoDB
result = collection.insert_many(users)
print(f"Inserted user IDs: {result.inserted_ids}")

[{'name': 'NmKlVb', 'age': 38}, {'name': 'PfWlGK', 'age': 19}, {'name': 'LAdquN', 'age': 34}, {'name': 'xYAaul', 'age': 52}, {'name': 'cqXDhy', 'age': 59}, {'name': 'CQTbxa', 'age': 60}, {'name': 'ltLZTr', 'age': 51}, {'name': 'uKXrxY', 'age': 51}, {'name': 'AwBXpm', 'age': 58}, {'name': 'Xwehis', 'age': 25}]
Inserted user IDs: [ObjectId('685e9304c01b74a82f077fad'), ObjectId('685e9304c01b74a82f077fae'), ObjectId('685e9304c01b74a82f077faf'), ObjectId('685e9304c01b74a82f077fb0'), ObjectId('685e9304c01b74a82f077fb1'), ObjectId('685e9304c01b74a82f077fb2'), ObjectId('685e9304c01b74a82f077fb3'), ObjectId('685e9304c01b74a82f077fb4'), ObjectId('685e9304c01b74a82f077fb5'), ObjectId('685e9304c01b74a82f077fb6')]

## Add other fields

In [ ]:
users = []
for _ in range(10):
    user = {
        "name": random_name(),
        "age": random.randint(18, 60),
        "Income":random.randint(4000, 10000),
    }
    users.append(user)
print(users)
# Insert users into MongoDB
result = collection.insert_many(users)
print(f"Inserted user IDs: {result.inserted_ids}")

[{'name': 'clABut', 'age': 48, 'Income': 4709}]
[{'name': 'clABut', 'age': 48, 'Income': 4709}, {'name': 'HZQqbM', 'age': 20, 'Income': 5757}]
[{'name': 'clABut', 'age': 48, 'Income': 4709}, {'name': 'HZQqbM', 'age': 20, 'Income': 5757}, {'name': 'qADRYi', 'age': 58, 'Income': 8430}]
[{'name': 'clABut', 'age': 48, 'Income': 4709}, {'name': 'HZQqbM', 'age': 20, 'Income': 5757}, {'name': 'qADRYi', 'age': 58, 'Income': 8430}, {'name': 'PSQQav', 'age': 29, 'Income': 7561}]
[{'name': 'clABut', 'age': 48, 'Income': 4709}, {'name': 'HZQqbM', 'age': 20, 'Income': 5757}, {'name': 'qADRYi', 'age': 58, 'Income': 8430}, {'name': 'PSQQav', 'age': 29, 'Income': 7561}, {'name': 'LuxnBo', 'age': 42, 'Income': 8016}]
[{'name': 'clABut', 'age': 48, 'Income': 4709}, {'name': 'HZQqbM', 'age': 20, 'Income': 5757}, {'name': 'qADRYi', 'age': 58, 'Income': 8430}, {'name': 'PSQQav', 'age': 29, 'Income': 7561}, {'name': 'LuxnBo', 'age': 42, 'Income': 8016}, {'name': 'DkqzyV', 'age': 52, 'Income': 4142}]
[{'name': 'clABut', 'age': 48, 'Income': 4709}, {'name': 'HZQqbM', 'age': 20, 'Income': 5757}, {'name': 'qADRYi', 'age': 58, 'Income': 8430}, {'name': 'PSQQav', 'age': 29, 'Income': 7561}, {'name': 'LuxnBo', 'age': 42, 'Income': 8016}, {'name': 'DkqzyV', 'age': 52, 'Income': 4142}, {'name': 'xNTztC', 'age': 42, 'Income': 4841}]
[{'name': 'clABut', 'age': 48, 'Income': 4709}, {'name': 'HZQqbM', 'age': 20, 'Income': 5757}, {'name': 'qADRYi', 'age': 58, 'Income': 8430}, {'name': 'PSQQav', 'age': 29, 'Income': 7561}, {'name': 'LuxnBo', 'age': 42, 'Income': 8016}, {'name': 'DkqzyV', 'age': 52, 'Income': 4142}, {'name': 'xNTztC', 'age': 42, 'Income': 4841}, {'name': 'nXHKHx', 'age': 48, 'Income': 8197}]
[{'name': 'clABut', 'age': 48, 'Income': 4709}, {'name': 'HZQqbM', 'age': 20, 'Income': 5757}, {'name': 'qADRYi', 'age': 58, 'Income': 8430}, {'name': 'PSQQav', 'age': 29, 'Income': 7561}, {'name': 'LuxnBo', 'age': 42, 'Income': 8016}, {'name': 'DkqzyV', 'age': 52, 'Income': 4142}, {'name': 'xNTztC', 'age': 42, 'Income': 4841}, {'name': 'nXHKHx', 'age': 48, 'Income': 8197}, {'name': 'Tpfdgl', 'age': 55, 'Income': 6468}]
[{'name': 'clABut', 'age': 48, 'Income': 4709}, {'name': 'HZQqbM', 'age': 20, 'Income': 5757}, {'name': 'qADRYi', 'age': 58, 'Income': 8430}, {'name': 'PSQQav', 'age': 29, 'Income': 7561}, {'name': 'LuxnBo', 'age': 42, 'Income': 8016}, {'name': 'DkqzyV', 'age': 52, 'Income': 4142}, {'name': 'xNTztC', 'age': 42, 'Income': 4841}, {'name': 'nXHKHx', 'age': 48, 'Income': 8197}, {'name': 'Tpfdgl', 'age': 55, 'Income': 6468}, {'name': 'ocGmrx', 'age': 51, 'Income': 7665}]
Inserted user IDs: [ObjectId('685e9328c01b74a82f077fb7'), ObjectId('685e9328c01b74a82f077fb8'), ObjectId('685e9328c01b74a82f077fb9'), ObjectId('685e9328c01b74a82f077fba'), ObjectId('685e9328c01b74a82f077fbb'), ObjectId('685e9328c01b74a82f077fbc'), ObjectId('685e9328c01b74a82f077fbd'), ObjectId('685e9328c01b74a82f077fbe'), ObjectId('685e9328c01b74a82f077fbf'), ObjectId('685e9328c01b74a82f077fc0')]

## Fetch Data

In [10]:

# Select DB and collection
db = client.mydatabase
collection = db.users

# Fetch all users
users = collection.find()

# Print each user
for user in users:
    print(user)

{'_id': ObjectId('685e9304c01b74a82f077fad'), 'name': 'NmKlVb', 'age': 38}
{'_id': ObjectId('685e9304c01b74a82f077fae'), 'name': 'PfWlGK', 'age': 19}
{'_id': ObjectId('685e9304c01b74a82f077faf'), 'name': 'LAdquN', 'age': 34}
{'_id': ObjectId('685e9304c01b74a82f077fb0'), 'name': 'xYAaul', 'age': 52}
{'_id': ObjectId('685e9304c01b74a82f077fb1'), 'name': 'cqXDhy', 'age': 59}
{'_id': ObjectId('685e9304c01b74a82f077fb2'), 'name': 'CQTbxa', 'age': 60}
{'_id': ObjectId('685e9304c01b74a82f077fb3'), 'name': 'ltLZTr', 'age': 51}
{'_id': ObjectId('685e9304c01b74a82f077fb4'), 'name': 'uKXrxY', 'age': 51}
{'_id': ObjectId('685e9304c01b74a82f077fb5'), 'name': 'AwBXpm', 'age': 58}
{'_id': ObjectId('685e9304c01b74a82f077fb6'), 'name': 'Xwehis', 'age': 25}
{'_id': ObjectId('685e9328c01b74a82f077fb7'), 'name': 'clABut', 'age': 48, 'Income': 4709}
{'_id': ObjectId('685e9328c01b74a82f077fb8'), 'name': 'HZQqbM', 'age': 20, 'Income': 5757}
{'_id': ObjectId('685e9328c01b74a82f077fb9'), 'name': 'qADRYi', 'age': 58, 'Income': 8430}
{'_id': ObjectId('685e9328c01b74a82f077fba'), 'name': 'PSQQav', 'age': 29, 'Income': 7561}
{'_id': ObjectId('685e9328c01b74a82f077fbb'), 'name': 'LuxnBo', 'age': 42, 'Income': 8016}
{'_id': ObjectId('685e9328c01b74a82f077fbc'), 'name': 'DkqzyV', 'age': 52, 'Income': 4142}
{'_id': ObjectId('685e9328c01b74a82f077fbd'), 'name': 'xNTztC', 'age': 42, 'Income': 4841}
{'_id': ObjectId('685e9328c01b74a82f077fbe'), 'name': 'nXHKHx', 'age': 48, 'Income': 8197}
{'_id': ObjectId('685e9328c01b74a82f077fbf'), 'name': 'Tpfdgl', 'age': 55, 'Income': 6468}
{'_id': ObjectId('685e9328c01b74a82f077fc0'), 'name': 'ocGmrx', 'age': 51, 'Income': 7665}