## Install python dependencies

In [1]:
pip install -r requirements.txt

Requirement already satisfied: redis==6.2.0 in ./.venv/lib/python3.9/site-packages (from -r requirements.txt (line 1)) (6.2.0)
Requirement already satisfied: psycopg[binary]==3.2.9 in ./.venv/lib/python3.9/site-packages (from -r requirements.txt (line 2)) (3.2.9)
Requirement already satisfied: pandas==2.3.0 in ./.venv/lib/python3.9/site-packages (from -r requirements.txt (line 3)) (2.3.0)
Collecting pymongo==4.13.2
  Downloading pymongo-4.13.2-cp39-cp39-macosx_11_0_arm64.whl (748 kB)
     |████████████████████████████████| 748 kB 4.5 MB/s eta 0:00:01
Requirement already satisfied: async-timeout>=4.0.3 in ./.venv/lib/python3.9/site-packages (from redis==6.2.0->-r requirements.txt (line 1)) (5.0.1)
Requirement already satisfied: typing-extensions>=4.6 in ./.venv/lib/python3.9/site-packages (from psycopg[binary]==3.2.9->-r requirements.txt (line 2)) (4.14.0)
Requirement already satisfied: psycopg-binary==3.2.9 in ./.venv/lib/python3.9/site-packages (from psycopg[binary]==3.2.9->-r requirements.txt (line 2)) (3.2.9)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.9/site-packages (from pandas==2.3.0->-r requirements.txt (line 3)) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.9/site-packages (from pandas==2.3.0->-r requirements.txt (line 3)) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.9/site-packages (from pandas==2.3.0->-r requirements.txt (line 3)) (2025.2)
Requirement already satisfied: numpy>=1.22.4 in ./.venv/lib/python3.9/site-packages (from pandas==2.3.0->-r requirements.txt (line 3)) (2.0.2)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
     |████████████████████████████████| 313 kB 45.5 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas==2.3.0->-r requirements.txt (line 3)) (1.17.0)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.13.2
WARNING: You are using pip version 21.2.4; however, version 25.1.1 is available.
You should consider upgrading via the '/Users/faustin/Desktop/learning/curious-minds/ep1/.venv/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

# Redis

In [11]:
import redis 
import json
# create redis instance
r = redis.Redis(host='localhost', port=6379, db=0, decode_responses=True)

In [25]:
user = {"name": "Faustin", "age": 30, "language": "Python"}
#  Save data to redis
r.set("user:101", json.dumps(user))

# retrieve data
data = json.loads(r.get("user:101"))
print(data)

# set other value
r.set("09932", "Hello world")
data = r.get("09932")
print(data)

# save a list
r.delete("mylist")
r.rpush('mylist', *[1,23,4])
data = r.lrange("mylist", 0,-1)
print(data)
# learn more at: https://pypi.org/project/redis/

{'name': 'Faustin', 'age': 30, 'language': 'Python'}
Hello world
['1', '23', '4']

# Postgres

In [3]:
# Connection parameters
conn_params = {
    "dbname": "mydatabase",
    "user": "myuser",
    "password": "mypassword",
    "host": "localhost",  # use "postgres" if running inside Docker
    "port": 5432
}

In [ ]:
import psycopg
import pandas as pd

# Define all uses
users_to_insert = [
    ("User1", 20),
    ("User2", 21),
    ("User3", 22),
    ("User4", 23),
    ("User5", 24),
    ("User6", 25),
    ("User7", 26),
    ("User8", 27),
    ("User9", 28),
    ("User10", 29),
]




with psycopg.connect(**conn_params) as conn:
    with conn.cursor() as cur:
        cur.execute("""
            CREATE TABLE IF NOT EXISTS users (
                id SERIAL PRIMARY KEY,
                name TEXT,
                age INTEGER
            )
        """)
        
        # Insert multiple rows at once
        cur.executemany(
            "INSERT INTO users (name, age) VALUES (%s, %s)",
            users_to_insert
        )

In [4]:
import psycopg
import pandas as pd

#  Fetch users as pandas dataframe
with psycopg.connect(**conn_params) as conn:
    with conn.cursor() as cur:
        cur.execute("SELECT * FROM users")
        rows = cur.fetchall()               # list of tuples
        colnames = [desc[0] for desc in cur.description]  # get column names

# Create DataFrame from rows + column names
df = pd.DataFrame(rows, columns=colnames)
df

    id    name  age
0    1   User1   20
1    2   User2   21
2    3   User3   22
3    4   User4   23
4    5   User5   24
5    6   User6   25
6    7   User7   26
7    8   User8   27
8    9   User9   28
9   10  User10   29
10  11   User1   20
11  12   User2   21
12  13   User3   22
13  14   User4   23
14  15   User5   24
15  16   User6   25
16  17   User7   26
17  18   User8   27
18  19   User9   28
19  20  User10   29

# MongoDB

## Create connection

In [7]:
from pymongo import MongoClient
import random
import string

# MongoDB connection details
mongo_user = "mongoadmin"
mongo_password = "secretpassword"
mongo_host = "localhost"  # or "mongo" if inside Docker Compose
mongo_port = 27017

uri = f"mongodb://{mongo_user}:{mongo_password}@{mongo_host}:{mongo_port}/"
client = MongoClient(uri)

db = client.mydatabase
collection = db.users

In [ ]:
# Function to generate random name
def random_name(length=6):
    return ''.join(random.choices(string.ascii_letters, k=length))

# Generate 10 random user documents
users = []
for _ in range(10):
    user = {
        "name": random_name(),
        "age": random.randint(18, 60)
    }
    users.append(user)

# Insert users into MongoDB
result = collection.insert_many(users)
print(f"Inserted user IDs: {result.inserted_ids}")

Inserted user IDs: [ObjectId('685ca7cc5cc3c84f3ec6d09c'), ObjectId('685ca7cc5cc3c84f3ec6d09d'), ObjectId('685ca7cc5cc3c84f3ec6d09e'), ObjectId('685ca7cc5cc3c84f3ec6d09f'), ObjectId('685ca7cc5cc3c84f3ec6d0a0'), ObjectId('685ca7cc5cc3c84f3ec6d0a1'), ObjectId('685ca7cc5cc3c84f3ec6d0a2'), ObjectId('685ca7cc5cc3c84f3ec6d0a3'), ObjectId('685ca7cc5cc3c84f3ec6d0a4'), ObjectId('685ca7cc5cc3c84f3ec6d0a5')]

## Add other fields

In [17]:
users = []
for _ in range(10):
    user = {
        "name": random_name(),
        "age": random.randint(18, 60),
        "Income":random.randint(4000, 10000),
    }
    users.append(user)
# Insert users into MongoDB
result = collection.insert_many(users)
print(f"Inserted user IDs: {result.inserted_ids}")

Inserted user IDs: [ObjectId('685cab585cc3c84f3ec6d0a7'), ObjectId('685cab585cc3c84f3ec6d0a8'), ObjectId('685cab585cc3c84f3ec6d0a9'), ObjectId('685cab585cc3c84f3ec6d0aa'), ObjectId('685cab585cc3c84f3ec6d0ab'), ObjectId('685cab585cc3c84f3ec6d0ac'), ObjectId('685cab585cc3c84f3ec6d0ad'), ObjectId('685cab585cc3c84f3ec6d0ae'), ObjectId('685cab585cc3c84f3ec6d0af'), ObjectId('685cab585cc3c84f3ec6d0b0')]

## Fetch Data

In [18]:

# Select DB and collection
db = client.mydatabase
collection = db.users

# Fetch all users
users = collection.find()

# Print each user
for user in users:
    print(user)

{'_id': ObjectId('685ca7cc5cc3c84f3ec6d09c'), 'name': 'sjlRCW', 'age': 56}
{'_id': ObjectId('685ca7cc5cc3c84f3ec6d09d'), 'name': 'wcTswC', 'age': 51}
{'_id': ObjectId('685ca7cc5cc3c84f3ec6d09e'), 'name': 'HjfpEh', 'age': 51}
{'_id': ObjectId('685ca7cc5cc3c84f3ec6d09f'), 'name': 'LonCeb', 'age': 32}
{'_id': ObjectId('685ca7cc5cc3c84f3ec6d0a0'), 'name': 'frZASE', 'age': 41}
{'_id': ObjectId('685ca7cc5cc3c84f3ec6d0a1'), 'name': 'APqcyE', 'age': 56}
{'_id': ObjectId('685ca7cc5cc3c84f3ec6d0a2'), 'name': 'heeoMe', 'age': 38}
{'_id': ObjectId('685ca7cc5cc3c84f3ec6d0a3'), 'name': 'ZTnCKP', 'age': 19}
{'_id': ObjectId('685ca7cc5cc3c84f3ec6d0a4'), 'name': 'XrCJZS', 'age': 48}
{'_id': ObjectId('685ca7cc5cc3c84f3ec6d0a5'), 'name': 'QwizYM', 'age': 42}
{'_id': ObjectId('685cab585cc3c84f3ec6d0a7'), 'name': 'GmADRa', 'age': 42, 'Income': 7506}
{'_id': ObjectId('685cab585cc3c84f3ec6d0a8'), 'name': 'appwFb', 'age': 54, 'Income': 5880}
{'_id': ObjectId('685cab585cc3c84f3ec6d0a9'), 'name': 'vVNvEZ', 'age': 35, 'Income': 9753}
{'_id': ObjectId('685cab585cc3c84f3ec6d0aa'), 'name': 'dReKwf', 'age': 53, 'Income': 8892}
{'_id': ObjectId('685cab585cc3c84f3ec6d0ab'), 'name': 'qimzIA', 'age': 23, 'Income': 5827}
{'_id': ObjectId('685cab585cc3c84f3ec6d0ac'), 'name': 'eizAyO', 'age': 53, 'Income': 7771}
{'_id': ObjectId('685cab585cc3c84f3ec6d0ad'), 'name': 'cSTSNw', 'age': 32, 'Income': 9753}
{'_id': ObjectId('685cab585cc3c84f3ec6d0ae'), 'name': 'WCvlDb', 'age': 57, 'Income': 5817}
{'_id': ObjectId('685cab585cc3c84f3ec6d0af'), 'name': 'fiGTdf', 'age': 39, 'Income': 7144}
{'_id': ObjectId('685cab585cc3c84f3ec6d0b0'), 'name': 'zvgoCZ', 'age': 41, 'Income': 6809}